<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Website Logo" class="logo">
        <h1>Lyric Lounge</h1>
        <h2>We apologize! Our website is temporarily down.</h2>
        <p>If you have questions email: Daniel Gutierrez - dgutierrez11@neiu.edu</p>
        
        <!-- Clickable Link -->
        <p><a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2jcjNbwgjlnQ3bhHboCOgjZFkuZQRlOnXuyKsCbGUaqU9E4dg0_svXCF1I4-l6-vhDcSbhg8Hv" target="_blank">Click here</a> for Reservations.</p>
        <p><a href="https://lyriclounge.podbean.com" target="_blank">Click here</a> for Content.</p>
        <p><a href="https://linktr.ee/lyriclounge.studio?utm_source=linktree_profile_share&ltsid=b67281c1-2356-4565-8fb2-72e4c1622a76" target="_blank">Click here</a> for Gallery.</p>
    </div>
</body>
</html>
